{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Я пока мало, что умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Перед началом обучения я успел прочитать половину книги Python Тони Гедиса и мне чуть-чуть это помогло)
      </li>
      <li class="list-group-item">
        С Django был не знаком вовсе, начинаем знакомиться и пока что на Вы).
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p></p>
  </article>
</div>
{% endblock %} 