{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Посты авторов, на которых вы подписаны{% endblock %} 
{% block content %}
{% include 'posts/includes/switcher.html' %}
  <div class="container py-5">     
    <h1>Посты авторов, на которых вы подписаны</h1>
    <article>
      {% for post in page_obj %}
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
            <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          <li>
            На стренице {{ page_obj.paginator.per_page }} записей, всего страниц {{ page_obj.paginator.num_pages }}
          </li>
        </ul>
        <p>
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        </p>
        <p>
          {{ post.text }}
        </p>
        <p>
          <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
        </p>
        {% if post.group %}   
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %} 
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %} 
    </article>
    {% include 'posts/includes/paginator.html' %} 
  </div>
{% endblock %}   